{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block content %}
{% for hospital in hospitals %}
<div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{ hospital.user.profile_pic.url }}" style="aspect-ratio: 16/9; object-fit: cover;" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ hospital.user.username }}</h5>
          <p class="card-text">{{ hospital.description }}</p>
          <div class="w-100 position-absolute" style="bottom: 1.2rem;">
            
              <a href="{% url 'users:profile-hospital' username=hospital.user.username %}" class="btn btn-primary">View</a>
            </div>
        </div>
      </div>
    </div>
  </div><!-- End Card with an image on left -->
{% endfor %}
<div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="https://images.pexels.com/photos/1692693/pexels-photo-1692693.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Hospital Name</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione rerum libero totam repellat vitae amet aspernatur blanditiis obcaecati numquam eius, alias ipsam illum! Eligendi id sint assumenda est quas debitis dolore perspiciatis, repudiandae, vitae aliquam suscipit aperiam voluptatibus recusandae culpa nemo beatae eum. Similique non hic nihil eveniet? Eligendi, fuga.</p>
          <a href="" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
  </div><!-- End Card with an image on left -->

{% endblock %}
