{% extends "common/user-base.html" %}
{% block title %} Confirm Role Change {% endblock %}
{% block content %}
<div class="signinform">
    <h1>django-authentication</h1>
    <!-- container -->
    <div class="container">
        <!-- main content -->
        <div class="w3l-form-info">
            <div class="w3_info">
                <h2>role change confirmation</h2>
                <p>User - {{ username }}</p>
                <p>Email - {{ email }}</p>
                <p>Role - {{ role }}</p>
                <a href="{{ accept_url }}"><button class="btn btn-primary btn-block" type="submit">Confirm</button></a>
                <a href="{{ decline_url }}"><button class="btn btn-primary btn-block" type="submit">Decline</button></a>
            </div>
        </div>
        <!-- //main content -->
    </div>
    <!-- //container -->
    <!-- footer -->
    <div class="footer">
        <p>&copy; 2020 Service login form. All Rights Reserved | Design by <a href="https://w3layouts.com/"
                target="blank">W3layouts</a></p>
    </div>
    <!-- footer -->
</div>
{% endblock %}
