{% extends "base.html" %}
{% block title %}
	Doctor Profile
{% endblock %}
{% block content %}

<section class="section profile">
    <div class="row">
      <div class="col-xl-4">

        <div class="card">
          <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

            <img src="{{ doctor.user.profile_pic.url }}" style="aspect-ratio:1/1;" alt="Profile" class="rounded-circle">
            <h2>{{ doctor.user.username }}</h2>
            <h3>{{ doctor.experties }}</h3>
            {% if user.is_authenticated %}
            {% if user.role != 2 %}
            <form action="{% url 'core:appointment' %}" method="POST">
              {% csrf_token %}
                <input type="hidden" value="{{ doctor.id }}" name="doctor">
                <button type="submit" class="btn btn-outline-primary m-3">Book Appointment</button>
            </form>
            {% endif %}
            {% endif %}
          </div>
        </div>
        {% if user.is_authenticated %}
        {% if user.role == 2 %}

        <div class="card">
          <div class="card-body profile-card pt-4">
            <h2>Appointments</h2>
            <br>
            <h3>Pending</h3>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                {% for appointment in appointments %}
                <tr>
                  <th scope="row">{{ forloop.counter }}</th>
                  <td><a href="{% url 'users:profile-customer' username=appointment.customer.user.username %}">{{ appointment.customer.user.username }} </a></td>
                  <td><a href="{% url 'core:appointment-confirm' %}" class="text-success ">Accept</a><a href="{% url 'core:appointment-decline' %}" class="text-danger mx-2">Reject</a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <br>
            <h3>Coming up</h3>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">An item</li>
              <li class="list-group-item">A second item</li>
              <li class="list-group-item">A third item</li>
              <li class="list-group-item">A fourth item</li>
            </ul><!-- End Clean list group -->

          </div>
        </div>
{% endif %}
{% endif %}
      </div>

      <div class="col-xl-8">

        <div class="card">
          <div class="card-body pt-3">
            <!-- Bordered Tabs -->
            <div class="tab-content pt-2">

              <div class="tab-pane fade show active profile-overview" id="profile-overview">
                <h5 class="card-title">About</h5>
                <p class="small fst-italic">{{ doctor.bio }}</p>

                <h5 class="card-title">Profile Details</h5>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label ">Full Name</div>
                  <div class="col-lg-9 col-md-8">{{ doctor.user.full_name }}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Hospital</div>
                  {% for object in hospitals %}
                
                  <div class="col-lg-9 col-md-8"><a href="{% url 'users:profile-hospital' username=object.hospital.user.username %}">{{ object.hospital.user.username }}</a></div>
                    {% endfor %}
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Specialization</div>
                  <div class="col-lg-9 col-md-8">{{ doctor.experties }}</div>
                </div>

                
                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Phone</div>
                  <div class="col-lg-9 col-md-8">{{ doctor.user.phone }}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Email</div>
                  <div class="col-lg-9 col-md-8">{{ doctor.user.email }}</div>
                </div>

              </div>

          
            </div><!-- End Bordered Tabs -->

          </div>
        </div>

      </div>
    </div>
  </section>

{% endblock %}
